<section id="todoapp">
    <header id="header">
        <h2 id="title">ToDo List in Ember.js</h2>
    </header>

    {{outlet}}
</section>

<footer id="info">
    <p>Double-click to edit a todo</p>
</footer>